.ct-outer-div {
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
}
.ct-key-div {
  width: 80%;
  padding: 0.25rem;
  border: 0.5px solid gray;
  border-radius: 0.25rem;
  max-height: 5rem;
  overflow: scroll;
}
.ct-value-div {
  background-color: white;
  padding: 0.25rem;
  width: 20%;
  border-radius: 0.25rem;
  text-align: center;
  max-height: fit-content;
  margin: auto;
}
.positive {
  border: 2px solid rgb(12, 193, 12);
}
.negative {
  border: 2px solid rgb(128, 2, 2);
}
.neutral {
  border: 2px solid rgb(6, 6, 230);
}
.bottom-hr {
  width: 95%;
  margin: auto;
}
.ct-title{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.ct-list {
  box-shadow: 0 1.5rem 2rem -1rem rgba(0, 0, 0, 0.3),
    0 1rem 1.5rem -1px rgba(0, 0, 0, 0.18);
  border-radius: 0.5rem;
  padding: 1rem;
  max-height: 160vh;
  overflow: scroll;
}
.ct-buttons{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.ct-buttons button{
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgb(243, 235, 224);
  font-weight: 500;
}
.ct-buttons button:hover{
  background-color: rgb(232, 220, 203);
}
.ct-buttons button.selected {
  border: 2px solid black;
}
@media(max-width:40rem){
  .ct-list{
    max-height: 90vh;
    padding: 0.25rem 0.5rem;
  }
  .ct-key-div{
    font-size: 0.9rem;
  }
  .ct-value-div{
    font-size: 0.9rem;
  }
}
@media(min-width:40rem) and (max-width:70rem){
  .ct-list{
    max-height: 150vh;
    padding: 0.25rem 0.5rem;
  }
  .ct-key-div{
    font-size: 0.9rem;
  }
  .ct-value-div{
    font-size: 0.9rem;
  }
}